# Entornos virtuales
venv/

# Archivos de Python
__pycache__/
*.py[cod]

# Archivos de configuración local
.env
.env/

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Caché
.pytest_cache/
.coverage
htmlcov/

# Archivos temporales
tmp/
temp/

# Frontend (React/Vite)
# --- Exclusiones específicas del frontend (React/Vite) ---
# Dependencias de Node.js
frontend/node_modules/
# Archivos de build de Vite
frontend/dist/
# Caché de Vite
frontend/.vite/


# Otros
pipelineModelos/

# Ignorar archivos de entorno locales y de cloud
backend/.env.local
backend/.env.cloud
frontend/.env.local
frontend/.env.cloud

# key ssh
*.pem

# Binarios y backups que no deben versionarse
*.exe
*.bak

# Ignorar todos los archivos de modelo Keras
*.keras

# Token de ngrok
ngrok_token.txt